.footer-banner
  ._demo--container.footer-container
    .footer-title Next Up: Build your own app
    .footer-tagline Use Visual Recognition to get started.
    a.base--a.bottom-links(href='https://www.ibm.com/watson/developercloud/visual-recognition/api/v3/', target='_blank') API Reference
    a.base--a.bottom-links(href='https://console.bluemix.net/docs/services/visual-recognition/getting-started.html', target='_blank') Documentation
    a.base--a.bottom-links(href='https://github.com/watson-developer-cloud/visual-recognition-nodejs', target='_blank') Fork on Github
