
.footer-banner
  .banner--service-gdpr
    p.banner--service-gdpr-text *This system is for demonstration purposes only and is not intended to process Personal Data.  No Personal Data is to be entered into this system as it may not have the necessary controls in place to meet the requirements of the General Data Protection Regulation (EU) 2016/679.
  ._demo--container.footer-container
    .footer-title Next Up: Build your own app
    .footer-tagline Use Visual Recognition to get started.
    a.base--a.bottom-links(href='https://console.bluemix.net/apidocs/visual-recognition?language=node', target='_blank') API Reference
    a.base--a.bottom-links(href='https://console.bluemix.net/docs/services/visual-recognition/getting-started.html', target='_blank') Documentation
    a.base--a.bottom-links(href='https://github.com/watson-developer-cloud/visual-recognition-nodejs', target='_blank') Fork on Github
