._demo--container
  a.wordmark(href='https://www.ibm.com/watson/developer/')
    span.wordmark--left IBM
    span.wordmark--right Watson Developer Cloud
  nav.heading-nav(role='menubar')
    li.base--li.heading-nav--li(role='presentation')
      a.heading-nav--item(href='https://www.ibm.com/watson/products-services/', role='menuitem') Services
    li.base--li.heading-nav--li(role='presentation')
      a.heading-nav--item(href='https://console.bluemix.net/docs/services/visual-recognition/getting-started.html', role='menuitem') Docs
._demo--banner.banner
  ._demo--container
    .banner--service-container
      .banner--service-icon-container
        img.banner--service-icon(src='/images/service-icon.svg', alt='Visual Recognition API Icon')
      .banner--service-info
        h1.banner--service-title.base--h1
          img.banner--service-icon_INLINE(src='/images/service-icon.svg', alt='Visual Recognition API Icon')
          | Visual Recognition
        .banner--service-description
          | Visual Recognition uses deep learning algorithms to analyze images that can give you insights into your visual content. You can organize image libraries, understand an individual image, recognize food, detect faces, and create custom classifiers for specific results that are tailored to your needs.
    .banner--service-resource-container
      .banner--row
        .banner--service-resource
          span.icon.icon-link
          strong Resources:
      .banner--row
        .banner--service-links
          li.base--li.banner--service-link-item
            a.base--a.base--start-free-in-bluemix(href='https://console.bluemix.net/registration/trial?target=%2Fdeveloper%2Fwatson%2Fcreate-project%3Fservices%3Dwatson_vision_combined%26hideTours%3Dtrue&cm_mmc%3DOSocial_Tumblr-_-Watson%2BCore_Watson%2BCore%2B-%2BPlatform-_-WW_WW-_-wdc-ref%26cm_mmc%3DOSocial_Tumblr-_-Watson%2BCore_Watson%2BCore%2B-%2BPlatform-_-WW_WW-_-wdc-ref%26cm_mmca1%3D000000OF%26cm_mmca2%3D10000409%') Start for free in IBM Cloud
