include ../mixins/sampleInput.jade

h2.base--h2.test--classifier-name #{classifier.name}
div Test your newly trained demo classifier with a similar image (max 2mb) that was not in the training set.
.test--input-container.toggled
  h3.base--h3.test--header Test your classifier
  +sampleInput('test', bundle.kind, classifier.classifier_id)
.loading.test--loading
  img.test--loading-image.loading--image(src='images/loading-indicator.gif')
  p.base--p.test--loading-message.loading--message Visual Recognition is classifying the image to determine a match...
.error.test--error
  img.test--error-image.error--image(src='images/icons/alert.svg')
  p.base--p.test--error-message.error--message Visual Recognition is not available right now...
.test--output
  hr.base--hr.test--hr
  h2.base--h2.test--output-header Results
  .test--output-row
    .test--output-left
      .test--output-image-container
        img.test--output-image
    .test--output-right.test--output-data