.train--trained-successfully
  img(src="/images/watson-logo-white.svg", alt="watson logo")
  .train--trained-successfully-text Your classifier has been trained successfully.
.test--section
  hr.base--hr.retraining--base-hr
  ._demo--container
    h2.base--h2.test--classifier
    .icon-hyperlink.test--reset
      span.icon.icon-reset
      button(title='Deletes the created classifier', type='reset').test--reset-button.base--a.icon-hyperlink--button.icon-hyperlink--button_BLANK.reset--classifier
        | Reset
    p.base--p.test--description Test your newly trained demo classifier with a similar image that was not in the training set.
    a.base--a.test--random-test-image(href="#") Use a system test image
    form(id='test--fileupload', class='test--form test--dropzone', data-upload-template-id='template-upload-test')
      input(id='test_classifier_id', type='hidden', name='classifier_id')
      div(class='test--url')
        div.test--invalid-url.display-none Invalid URL
        div.test--invalid-image-url.display-none The URL must end with .JPG, .GIF, or .PNG.
        input(class='test--url-input base--input', type='text', placeholder='Or paste an image URL', name='url')
        input(class='test--image-data-input base--input', type='hidden', name='image_data')
      div(class='test--dropzone')
        label(class='test--file-input-button base--button', for='test--file')
          div(class='test--file-input-button-big-plus')
          | Or 
          span.base--a select
          span.test--file-input-button-drag-text  or drag
          |  your own image
        input(id='test--file', class='test--file-input', type='file', name='images_file', accept='image/x-png, image/jpg, image/gif, image/jpeg, image/png', title='Choose an image to upload')
    .loading.test--loading.display-none
      .loader-container
        svg.loader(viewBox='25 25 50 50')
          circle.loader__path(cx='50', cy='50', r='20')
      p.base--p.test--loading-message.loading--message Watson is classifying the image to determine a match...
    .error.test--error.display-none
      img.test--error-image.error--image(src='/images/icons/alert.svg')
      p.base--p.test--error-message.error--message Visual Recognition is not available right now...
    .test--output.test--output-row.display-none
      .test--output-left
        .test--output-image-container
          img.test--output-image.landscape
      .test--output-right.test--output-data
  hr.base--hr.retraining--base-hr
  ._demo--container#retrain--form
