._train
  .gray-overlay.gray-overlay_visible
  div._demo--container
    ._container--training
      h1.base--h2.use--header Train a demo classifier
      div
        | To create a temporary trial classifier, select at least 3 classes from the example image bundles.
      h2 Example Image Bundles
      ._training--examples
        ._training--example.clickable(data-kind='dogs')
          h3 Dog Breeds
          img(src='/images/bundles/dogs/thumbnail.jpg')
        ._training--example.clickable(data-kind='moleskine')
          h3 Moleskine Types
          img(src='/images/bundles/moleskine/thumbnail.jpg')
        ._training--example.clickable(data-kind='insurance')
          h3 Insurance Claims
          img(src='/images/bundles/insurance/thumbnail.jpg')
        ._training--example.clickable(data-kind='omniearth')
          h3 Satellite Imagery
          img(src='/images/bundles/omniearth/thumbnail.png')
        ._training--example.clickable(data-kind='user')
          h3 Use Your Own
          ._training--use-your-own.square
            ._training--use-your-own-plus +

  ._examples(data-kind="user")
    .user-submitted
      form#user_upload.upload.training_dropzone
        div._demo--container
          input(type="hidden",name="classifiername",value="")
          .positive
            h2 Positive Classes
            p.text Upload your own images in zipped folders to the spaces below. <br/> Zipfile size must not exceed 5 MB.
            .classifiers
              .classifier(data-hasfile=0,data-idx=0)
                .text
                  span.text-label
                    a.base--a(href="#") Select
                    |  or drag a zipped folder with at least 50 images
                  img.text-zip-image(src="images/VR zip icon.svg")
                input(type="file",name="classupload",accept="application/zip")
                input.base--input(type="text",name="classname",placeholder="Name of This Class")
                a(href="").base--a.clear_link Clear
              .classifier(data-hasfile=0,data-idx=1)
                .text
                  span.text-label
                    a.base--a(href="#") Select
                    |  or drag a zipped folder with at least 50 images
                  img.text-zip-image(src="images/VR zip icon.svg")
                input(type="file",name="classupload",accept="application/zip")
                input.base--input(type="text",name="classname",placeholder="Name of This Class")
                a(href="").base--a.clear_link Clear
              .classifier(data-hasfile=0,data-idx=2)
                .text
                  span.text-label
                    a.base--a(href="#") Select
                    |  or drag a zipped folder with at least 50 images
                  img.text-zip-image(src="images/VR zip icon.svg")
                input(type="file",name="classupload",accept="application/zip")
                input.base--input(type="text",name="classname",placeholder="Name of This Class")
                a(href="").base--a.clear_link Clear
          .seperator
          .negative
            h2.negative-header Optional Negative Classes
            .classifiers
              .classifier(data-hasfile=0,data-idx=3).negative
                .text
                  span.text-label
                    a.base--a(href="#") Select
                    |  or drag a zipped folder with at least 50 images
                  img.text-zip-image(src="images/VR zip icon.svg")
                input(type="hidden",name="classname",value="negative")
                input(type="file",name="negativeclassupload",accept="application/zip")
                a(href="").base--a.clear_link Clear
                p Use images that may seem like the bundles but are different.


  div._demo--container
    ._examples(data-kind='dogs')
      a.select_all(data-kind='dogs') Select All
      ._examples--classes
        ._examples--class._positive(data-name='goldenretriever', data-kind='dogs', data-realname='Golden Retriever')
          h4 Golden Retriever
          img(src='/images/bundles/dogs/goldenretriever-thumbnail.jpg', data-kind='dogs', data-name='goldenretriever')
          button._positive(data-name='goldenretriever') Select
        ._examples--class._positive(data-name='husky', data-kind='dogs', data-realname='Husky')
          h4 Husky
          img(src='/images/bundles/dogs/husky-thumbnail.jpg', data-kind='dogs', data-name='husky')
          button._positive(data-name='husky') Select
        ._examples--class._positive(data-name='dalmatian', data-kind='dogs', data-realname='Dalmatian')
          h4 Dalmatian
          img(src='/images/bundles/dogs/dalmatian-thumbnail.jpg', data-kind='dogs', data-name='dalmatian')
          button._positive(data-name='dalmatian') Select
        ._examples--class._positive(data-name='beagle', data-kind='dogs', data-realname='Beagle')
          h4 Beagle
          img(src='/images/bundles/dogs/beagle-thumbnail.jpg', data-kind='dogs', data-name='beagle')
          button._positive(data-name='beagle') Select
        ._examples--class._negative(data-name='negatives', data-kind='dogs')
          h4 Negative:
            br
            | Non-Dogs
          img(src='/images/bundles/dogs/negatives-thumbnail.jpg', data-kind='dogs', data-name='negatives')
          button._negative(data-name='negatives') Select
      ._examples--contact-sheet(data-kind='dogs')
        img
    ._examples(data-kind='insurance')
      a.select_all(data-kind='insurance') Select All
      ._examples--classes
        ._examples--class._positive(data-name='brokenwinshield', data-kind='insurance', data-realname='Broken Windshield')
          h4 Broken Windshield
          img(src='/images/bundles/insurance/brokenwinshield-thumbnail.jpg', data-kind='insurance', data-name='brokenwinshield')
          button._positive(data-name='brokenwinshield') Select
        ._examples--class._positive(data-name='flattire', data-kind='insurance', data-realname='Flat Tire')
          h4 Flat Tire
          img(src='/images/bundles/insurance/flattire-thumbnail.jpg', data-kind='insurance', data-name='flattire')
          button._positive(data-name='flattire') Select
        ._examples--class._positive(data-name='motorcycleaccident', data-kind='insurance', data-realname='Motorcycle Involved')
          h4 Motorcycle Involved
          img(src='/images/bundles/insurance/motorcycleaccident-thumbnail.jpg', data-kind='insurance', data-name='motorcycleaccident')
          button._positive(data-name='motorcycleaccident') Select
        ._examples--class._positive(data-name='vandalism', data-kind='insurance', data-realname='Vandalism')
          h4 Vandalism
          img(src='/images/bundles/insurance/vandalism-thumbnail.jpg', data-kind='insurance', data-name='vandalism')
          button._positive(data-name='vandalism') Select
        ._examples--class._negative(data-name='negatives', data-kind='insurance')
          h4 Undamaged Vehicles
          img(src='/images/bundles/insurance/negatives-thumbnail.jpg', data-kind='insurance', data-name='negatives')
          button._negative(data-name='negatives') Select
      ._examples--contact-sheet(data-kind='insurance')
        img
    ._examples(data-kind='moleskine')
      a.select_all(data-kind='moleskine') Select All
      ._examples--classes
        ._examples--class._positive(data-name='journaling', data-kind='moleskine', data-realname='Journaling')
          h4 Journaling
          img(src='/images/bundles/moleskine/journaling-thumbnail.jpg', data-kind='moleskine', data-name='journaling')
          button._positive(data-name='journaling') Select
        ._examples--class._positive(data-name='landscape', data-kind='moleskine', data-realname='Landscape')
          h4 Landscape
          img(src='/images/bundles/moleskine/landscape-thumbnail.jpg', data-kind='moleskine', data-name='landscape')
          button._positive(data-name='landscape') Select
        ._examples--class._positive(data-name='notebook', data-kind='moleskine', data-realname='Notebook')
          h4 Notebook
          img(src='/images/bundles/moleskine/notebook-thumbnail.jpg', data-kind='moleskine', data-name='notebook')
          button._positive(data-name='notebook') Select
        ._examples--class._positive(data-name='portrait', data-kind='moleskine', data-realname='Portrait')
          h4 Portrait
          img(src='/images/bundles/moleskine/portrait-thumbnail.jpg', data-kind='moleskine', data-name='portrait')
          button._positive(data-name='portrait') Select
        ._examples--class._negative(data-name='negative', data-kind='moleskine')
          h4 Negative:
            br
            | Non-Moleskine
          img(src='/images/bundles/moleskine/negative-thumbnail.jpg', data-kind='moleskine', data-name='negative')
          button._negative(data-name='negative') Select
      ._examples--contact-sheet(data-kind='moleskine')
        img
      .license Images courtesy of IBM Watson partner 
        a(class="base--a", href='http://www.moleskine.com/us/', target='_blank') Moleskine.
    ._examples(data-kind='omniearth')
      a.select_all(data-kind='omniearth') Select All
      ._examples--classes
        ._examples--class._positive(data-name='baseball', data-kind='omniearth', data-realname='Baseball')
          h4 Baseball
          img(src='/images/bundles/omniearth/baseball-thumbnail.jpg', data-kind='omniearth', data-name='baseball')
          button._positive(data-name='baseball') Select
        ._examples--class._positive(data-name='cars', data-kind='omniearth', data-realname='Cars')
          h4 Cars
          img(src='/images/bundles/omniearth/cars-thumbnail.jpg', data-kind='omniearth', data-name='cars')
          button._positive(data-name='cars') Select
        ._examples--class._positive(data-name='golf', data-kind='omniearth', data-realname='Golf')
          h4 Golf
          img(src='/images/bundles/omniearth/golf-thumbnail.jpg', data-kind='omniearth', data-name='golf')
          button._positive(data-name='golf') Select
        ._examples--class._positive(data-name='tennis', data-kind='omniearth', data-realname='Tennis')
          h4 Tennis
          img(src='/images/bundles/omniearth/tennis-thumbnail.jpg', data-kind='omniearth', data-name='tennis')
          button._positive(data-name='tennis') Select
      ._examples--contact-sheet(data-kind='omniearth')
        img
      .license Images courtesy of IBM Watson partner 
        a(class="base--a", href='http://omniearth.net/' target='_blank') OmniEarth.
    .train--row
      #formStateErrorMessage
      input.base--input._examples--input-name(type='text', placeholder='Name this class',required)
      .train--column-1
        button.train--train-button.base--button(disabled='true') Train your classifier
        .license
          | This is a demo. For full functionality, try out the &nbsp;
          a.base--a(href='https://console.bluemix.net/docs/services/visual-recognition/index.html#about', target='_balnk') API
          span .
      .train--column-2
        .icon-hyperlink.train--reset
          span.icon.icon-reset
          button.base--a.train--reset-button.icon-hyperlink--button.icon-hyperlink--button_BLANK(type='reset')
            | Reset
    .license
      | Images used in this demo are licensed under Creative Commons 2.0 General License and are attributed &nbsp;
      a.base--a(href='https://github.com/watson-developer-cloud/visual-recognition-nodejs/tree/master/attributions', target='_blank') here
      | .
    .loading.train--loading
      .loader-container
        svg.loader(viewBox='25 25 50 50')
          circle.loader__path(cx='50', cy='50', r='20')
      p.base--p.loading--message Watson is training your new classifier. 
      p.base--p.loading--message This might take up to 3-4 minutes based on number of images.
    .error.train--error
      img.train--error-image.error--image(src='images/icons/alert.svg')
      p.base--p.train--error-message.error--message Visual Recognition is not available right now...
