script(type='text/html', id='testClassifierImagesTemplate').
  <% _.each(items, function(item, key, list) { %>
    <div class="test--classifier-images-thumb square">
      <img src="<%= item %>" class="test--classifier-images-image"/>
      <% if (key === 49 && size > 0) { %>
        <div class="test--overlay"><div class="test--overlay-more">+<%= size %></div></div>
      <% } %>
    </div>
  <% });%>

script(type='text/html', id='trainPreviewImagesTemplate').
  <% _.each(items, function(item, key, list) { %>
    <div class="train--file-preview-thumb square">
      <img src="<%= item %>" class="train--file-preview-image loaded"/>
    </div>
  <% });%>

script(type='text/html', id='useResultsTableTemplate').
  <thead class="base--thead">
    <tr class="base--tr">
      <td class="base--td">
        <div class="use--results-header-<%= items.resultCategory.toLowerCase() %>">
          <h3 class="base--h3"><%= items.resultCategory %></h3>
          <div class="tooltip use--tooltip-<%= items.resultCategory.toLowerCase() %>"><%= items.tooltipText %></div>
        </div>
      </td>
      <td class="base--td">
        <div class="use--results-header-score">
          <h3 class="base--h3">Score</h3>
          <div class="tooltip use--tooltip-score">The score measures correlation, ranging from 0 to 1. Higher scores indicate greater correlation.</div>
        </div>
      </td>
    </tr>
  </thead>
  <tbody class="base--tbody">
    <% _.each(items.data, function(item, key, list) { %>
      <tr class="base--tr">
        <td class="base--td"><%= item.name %></td>
        <td class="base--td"><%= item.score %></td>
      </tr>
  <% });%>
  <% _.each(items.data, function(item, key, list) { %>
  <% if (item.type_hierarchy && item.type_hierarchy.length > 0) { %>
    <tr class="base--tr">
      <td class="base--td" colspan="2">Type Hierarchy: <%= item.type_hierarchy %></td>
    </tr>
  <% }});%>
  </tbody>

