script(type='text/html', id='testClassifierImagesTemplate').
  <% _.each(items, function(item, key, list) { %>
    <div class="test--classifier-images-thumb square">
      <img src="<%= item %>" class="test--classifier-images-image"/>
      <% if (key === 49 && size > 0) { %>
        <div class="test--overlay"><div class="test--overlay-more">+<%= size %></div></div>
      <% } %>
    </div>
  <% });%>

script(type='text/html', id='trainPreviewImagesTemplate').
  <% _.each(items, function(item, key, list) { %>
    <div class="train--file-preview-thumb square">
      <img src="<%= item %>" class="train--file-preview-image loaded"/>
    </div>
  <% });%>

script(type='text/html', id='useResultsTableTemplate').
  <div class="results-table--container">
    <table class="base--table results-table">
      <thead class="base--thead">
        <tr class="base--tr">
          <th class="base--th results-table--header"><%= items.resultCategory %></th>
          <th class="base--th results-table--header">Score</th>
        </tr>
      </thead>
      <tbody class="base--tbody">
        
        <% _.each(items.data, function(item, key, list) { %>
          <% if (!item.name.match(/^\s+$/)) { %>
          <tr class="base--tr">
            <td class="base--td"><%= item.name %></td>
            <td class="base--td results-table--score-cell">
              <div class="results-table--score-item">
                
                <% if (item.score > 0.75) { %>
                  <div class="results-table--score-value results-table--score-value_good"><%= item.score.toString() %></div>
                <% } %>
                <% if (item.score < 0.5) { %>
                  <div class="results-table--score-value results-table--score-value_bad"><%= item.score.toString() %></div>
                <% } %>
                <% if (item.score >= 0.5 && item.score <= 0.75) { %>
                  <div class="results-table--score-value results-table--score-value_ok"><%= item.score.toString() %></div>
                <% } %>
                
                <div class="results-table--meter-container"><span class="results-table--meter-number results-table--meter-number_lower">0</span>
                  <div class="results-table--meter">
                    
                    <% if (item.score > 0.75) { %>
                      <div class="results-table--meter-fill results-table--meter-fill_good" style="<%= 'width: ' + item.score * 100 + '%' %>"></div>
                    <% } %>
                    <% if (item.score < 0.5) { %>
                      <div class="results-table--meter-fill results-table--meter-fill_bad" style="<%= 'width: ' + item.score * 100 + '%' %>"></div>
                    <% } %>
                    <% if (item.score >= 0.5 && item.score <= 0.75) { %>
                      <div class="results-table--meter-fill results-table--meter-fill_ok" style="<%= 'width: ' + item.score * 100 + '%' %>"></div>
                    <% } %>
                  </div><span class="results-table--meter-number results-table--meter-number_higher">1</span>
                </div>
              </div>
            </td>
          </tr>
        <% } %>
        <% });%>
        
        <% if (items.identities !== undefined && items.identities.length > 0) { %>
          <tr class="base--tr">
            <th colspan="2" class="base--th">
              <hr class="base--hr results-table--line-break"/>
            </th>
          </tr>
          <tr class="base--tr">
            <th colspan="2" class="base--th">Celebrity Match</th>
          </tr>
          <tr class="base--tr">
            <td class="base--td"><%= items.identities[0].name %></td>
            <td class="base--td results-table--score-cell">
              <div class="results-table--score-item">
                <% if (items.identities[0].score > 0.75) { %>
                  <div class="results-table--score-value results-table--score-value_good"><%= items.identities[0].score.toString() %></div>
                <% } %>
                <% if (items.identities[0].score < 0.5) { %>
                  <div class="results-table--score-value results-table--score-value_bad"><%= items.identities[0].score.toString() %></div>
                <% } %>
                <% if (items.identities[0].score >= 0.5 && items.identities[0].score <= 0.75) { %>
                  <div class="results-table--score-value results-table--score-value_ok"><%= items.identities[0].score.toString() %></div>
                <% } %>
                <div class="results-table--meter-container"><span class="results-table--meter-number results-table--meter-number_lower">0</span>
                  <div class="results-table--meter">
                    <% if (items.identities[0].score > 0.75) { %>
                      <div class="results-table--meter-fill results-table--meter-fill_good" style="<%= 'width: ' + items.identities[0].score * 100 + '%' %>"></div>
                    <% } %>
                    <% if (items.identities[0].score < 0.5) { %>
                      <div class="results-table--meter-fill results-table--meter-fill_bad" style="<%= 'width: ' + items.identities[0].score * 100 + '%' %>"></div>
                    <% } %>
                    <% if (items.identities[0].score >= 0.5 && items.identities[0].score <= 0.75) { %>
                      <div class="results-table--meter-fill results-table--meter-fill_ok" style="<%= 'width: ' + items.identities[0].score * 100 + '%' %>"></div>
                    <% } %>
                  </div><span class="results-table--meter-number results-table--meter-number_higher">1</span>
                </div>
              </div>
            </td>
          </tr>
          <% if (items.identities[0].type_hierarchy) { %>
            <tr class="base--tr">
              <td colspan="2" class="base--td"><%= items.identities[0].type_hierarchy %></td>
            </tr>
          <% } %>
        <% } %>
        
        <tr class="base--tr">
          <td colspan="2" class="base--td results-table--feedback">
            <em class="base--em">Did we wow you?</em>
            <span class="results-table--feedback-inputs">
              <input role="radio" type="radio" id="<%= items.resultCategory.toLowerCase() %>-yes" name="<%= items.resultCategory.toLowerCase() %>-group" value="<%= items.resultCategory.toLowerCase() %>-yes" class="base--radio results-table--input-yes"/>
              <label for="<%= items.resultCategory.toLowerCase() %>-yes" class="base--inline-label results-table--input-yes-label">Yes</label>
              <input role="radio" type="radio" id="<%= items.resultCategory.toLowerCase() %>-no" name="<%= items.resultCategory.toLowerCase() %>-group" value="<%= items.resultCategory.toLowerCase() %>-no" class="base--radio results-table--input-no"/>
              <label for="<%= items.resultCategory.toLowerCase() %>-no" class="base--inline-label results-table--input-no-label">No</label>
            </span>
            <span class="results-table--feedback-thanks"><em class="base--em">Thanks!</em></span>
          </td>
        </tr>
        
      </tbody>
    </table>
    <div class="results--json">
      <a target="_blank" class="json">JSON <img src="/images/link_image.png"></a>
      <div class="json_raw" style="display: none" data-raw="<%= items.classes_raw %>"/>
    </div>
  </div>
script(type='text/html', id='imageBoxesTemplate').
  <% _.each(items, function(item, key, list) { %>
    <div class="box-location" style="height: <%= item.height %>px; left: <%= item.left %>px; top: <%= item.top %>px; width: <%= item.width %>px;"></div>
  <% }) %>
