include ../mixins/sampleInput.jade

h2.base--h2.use--header Select an Image
+sampleInput('use')
.loading.use--loading
  img.use--loading-image.loading--image(src='images/loading-indicator.gif')
  p.base--p.use--loading-message.loading--message Watson is classifying the image to determine a match...
.error.use--error
  img.use--error-image.error--image(src='images/icons/alert.svg')
  p.base--p.use--error-message.error--message Visual Recognition is not available right now...
.use--output
  hr.base--hr.use--hr
  h2.base--h2.use--output-header Results
  .use--output-row
    .use--output-left
      .use--output-image-container
        img.use--output-image
    .use--output-right
      table.base--table.use--output-table
        thead.base--thead.use--output-thead
          tr.base--tr.use--output-tr
            td.base--td.use--output-td
              a.base--a(href='https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/visual-recognition/overview.shtml', target='_blank') Classifier
            td.base--td.use--output-td 
              a.base--a(href='https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/visual-recognition/overview.shtml', target='_blank') Confidence Score
        tbody.use--output-tbody
  .use--output-note Powered by 
    a.base--a(href='http://www.alchemyapi.com/products/alchemyvision', target='_blank') AlchemyVision
  hr.base--hr.use--hr
  .use--output-row
    a(href='/train')
      button.base--button.use--train-button Create a custom classifier
