language: node_js
sudo: true
node_js:
- stable
script:
- npm test
env:
  global:
  - CF_APP=visual-recognition-demo
  - CF_API=https://api.ng.bluemix.net
  - CF_ORGANIZATION=WatsonPlatformServices
  - CF_SPACE=demos
  - secure: "M7sCX+7pIoSBD4TfcZSTrxcH9pPUKicrtuyMVL6dvXxATOfO0t/VdD0L4xiVDmciuNIMtboCJVnMDxpYnMTWEXAPXo3R9tEQUMHPU2oM5tq+qpwiKG5p8ciVslIpENBGTFi2oulRDXUs037rzZHYo/jYBIFREJVX3xF3ewcGWMfoWUJ/sDYJdlUaV5SIf0n6h8ys061SXq36Qa98q/zKgxVwgYBuovEY3FChqBCrrFUPKJzda0+yHGa/vtkLmd6yRCVQo7hi3/TJvCjPKriuuGHkS7UdhrhIb5mi66LwuE5Wn5FGD7ZwQzZbLwnk8OB5eX1ylzv7OIdFY/NZcdt9Zd7PPyChGDYfustUJ/wuD/dBhGn7DvCdf3PyRrtUQPD6tlrSTBjnpnbpT0dfw2VObvAejl/PL+6wHdjPCSQY1dwh5eyk/PquOWsGrvv6Yj3C0rpur64MU8KzBkG3z/JfVZiiDoe4rIipq5ZPguFefU6Xp+kpwdDYeceGtzcv92HCu1aFXj0sJ8jI0faLSd+9Tg/XImeZpXMbSVHr3ppRGELHl4xR3pKISPsSCupIoroho1FE0Zz9N2szElh3KsxZAxiJ8wCN3+rGT7zz0uOnTx9mHbgRECYciXF77qyKT707m5Bg+YNiMsUOEs7ghbQ7ny181KbEq0sn0yo255hMwlY="
  - secure: "ypeZiA0mO5sT2D178kNqtBsn7yqMyYUp3oFex14E18kwWgmjgcqCSMzme16U3QdE/IamR2q9Id+EmvbWcXrushTBVz8fBdMViWlWWXxETMo6X4rksBn/Jt5j+eo9eTfmxbFp9tBkhzF6+okeS2nAj7XMcuoGO4OEgHd7L8O7UvNgfe3Te3+hVAJ8XGAmmgBnMxu95cEI8ZaX1bTvrQk3kiWwr6uwMfmbimRP1T6I37dK7qV1MqfdUJg0h4e8Sf9/WJz/K5Fh3ycG+Q7+3dG3zcxgEA+lyFRyQvj9rD/PHz92CDra7j1jAC7MNnT2L5sZmlIlelYk4Bdyom3MnxC0HQkBtCm57bOMoeYR/PNqP2NzOCJeaZ+WVscDXxUw6LR47LmgDsBBOdKusPNB7iyLw1eiedV97w5lnVqHlQLD4HNBVa6DnlTMf33ZjF9cu4rxlZCAWGWLqZtM84YBDKiigwtX1osrk+pfHR+SKF+c3Jaf4LSDR3+gxAqiG7AJ3CAEscb2wSsj3i/7xNeCJAWIkKC52N4p2MBZlXXm+6UfzxUkZw61jTNk5DKq2yiv6au7RL/XYuQwMsixrJMzA2WtlKjNE/DmqpX8Kq4TxkcvSjC6IXZoNtOY+rHYtxgZvuw6yGzROcl3gNYvR/vEDJsrSMqIMFg2YpX71reo3cTIYt4="
before_deploy: npm install -g cf-blue-green
deploy:
  provider: script
  script:
    - cf-blue-green-travis
  on:
    branch: master
    repo: watson-developer-cloud/visual-recognition-nodejs
  skip_cleanup: true
notifications:
  email: false
