//- layout.jade
doctype html
html(lang='en')
  head
    block title
      title Visual Recognition
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/css/watson-bootstrap-dark.css')
    link(rel='stylesheet', href='/css/banner.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    div.container
      div.row
        div.col-lg-12
          div.row.top-nav
            div.col-lg-12
              h3.heading.left IBM 
                span Watson Developer Cloud
                | : Demo
              a.right(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/visual-recognition/') Documentation
              a.right(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/apis/#!/visual-recognition') API Details
          div.row.header(style='padding-bottom:0px;')
            div.avatar.img-container.col-lg-1.col-xs-1
              img(src='/images/app.png')
            div.col-lg-6.col-xs-6
              h2 Visual Recognition NodeJS Starter Application
              p The Visual Recognition service analyzes images, enabling
                | you to understand their content without any accompanying descriptive text.
              a.learn-more(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/visual-recognition.html') More about this service
            div.col-lg-4.col-xs-4.build-your-own
              h3 Build your own:
              a.left.fork(href='https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/visual-recognition-nodejs.git') Fork and Deploy on Bluemix
              a.right.fork(href='https://github.com/watson-developer-cloud/visual-recognition-nodejs') Fork on Github
      block row-content

    script(type='text/javascript', src='/js/jquery-1.11.1.min.js')
    script(type='text/javascript', src='/js/jquery.ui.widget.js')
    script(type='text/javascript', src='/js/jquery.fileupload.js')
    script(type='text/javascript', src='/js/jquery.iframe-transport.js')
    script(type='text/javascript', src='/js/demo.js')
