svg(width='435px', height='53px', viewbox='0 0 435 53', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  title Thermometer #{score}
  defs
  g#Page-1(stroke="none",stroke-width="1",fill="none",fill-rule="evenodd")
    g#background(transform="translate(36.000000, 10.000000)",stroke="#000000")
      path#Combined-Shape(d="M23,0.00137104569 C10.2655813,0.101370684 0,5.65889818 0,12.5 C0,19.3411018 10.2655813,24.8986293 23,24.998629 L340.192771,25 C340.244939,24.9999081 340.297148,25 340.349398,25 C353.244914,25 363.698795,19.4035594 363.698795,12.5 C363.698795,5.59644063 353.244914,0 340.349398,0 C340.297148,0 340.244939,9.18738677e-05 340.192771,0.000275336299 L23,0 Z")
    g#color(transform="translate(36.000000, 10.000000)",fill=scoreColor)
      rect#Rectangle-1(x="18",y="0",width=xloc,height="25")
      ellipse#leftCap(cx="25.5",cy="12.5",rx="25.5",ry="12.5")
      ellipse#rightCap(cx=xloc+25.5,cy="12.5",rx="25.5",ry="12.5")
    text#0(font-family='Helvetica', font-size='48', font-weight='normal', fill='#000000')
      tspan(x='-1', y='39') 0
    text#1(font-family='Helvetica', font-size='48', font-weight='normal', fill='#000000')
      tspan(x='418', y='39') 1
