extends ./layout.jade

block content
  .tab-panels.tab-views(role='tabpanel')
    ul.tab-panels--tab-list.tab-views--tab-list(role='tablist')
      li.tab-panels--tab-list-item.tab-views--tab-list-item.base--li(role='presentation')
        a.tab-panels--tab.tab-views--tab.active(href='/', aria-controls='panel1', role='tab') Try out
      li.tab-panels--tab-list-item.tab-views--tab-list-item.base--li(role='presentation')
        a.tab-panels--tab.tab-views--tab(href='/train', aria-controls='panel2', role='tab') Train
      li.tab-panels--tab-list-item.tab-views--tab-list-item.base--li(role='presentation')
        a.tab-panels--tab.tab-views--tab.disabled(href='/test', aria-controls='panel3', role='tab') Test
    .tab-panels--tab-content
      include ./includes/use.jade
