* {
    box-sizing: border-box;
}

#retrain--form {
  margin-top: 2rem;
}

.base-div {
    margin-right: 1.2rem;
    margin-top: 0px;
    height: auto;
    max-width: 12rem;
    width: 8rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    font-size: smaller;
}

.base-div h3 {
    padding-left: 0px;
}

.status-bar {
    float: right;
    font-size: small;
    color: black;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.title-bar:hover .status-bar {
    opacity: 1.0;
}

.existing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
}

.positive-classes, .negative-classes {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.windowshade {
    -webkit-transition: height 0.5s, opacity 0.5s;
    -moz-transition: height 0.5s, opacity 0.5s;
    -ms-transition: height 0.5s, opacity 0.5s;
    -o-transition: height 0.5s, opacity 0.5s;
    transition: height 0.5s, opacity 0.5s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.correctButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.correctButtons button {
    background-color: transparent;
    color: #435d7e;
    font-weight: normal;
    margin-top: 0px;
    -webkit-transition: font-weight 0.5s;
    -moz-transition: font-weight 0.5s;
    -ms-transition: font-weight 0.5s;
    -o-transition: font-weight 0.5s;
    transition: font-weight 0.5s;
}

.correctButtons button.unselected {
    border: 1px solid #435d7e;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 30%;
}

.correctButtons button.selected {
    font-weight: bold;
    border: 1px solid #435d7e;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 30%;
    box-shadow: 0px 0px 0px 1px #435d7e;
}

.iscorrect {
  color: #6f6d70;
  font-size: 1em;
}

.decorated {
    text-decoration: underline;
}

.target-box {
    width: 100%;
    padding: 1rem;
    border: dashed 2px darkgrey;
    cursor: pointer;
    text-align: left;
    color: #5a5a5a;
}

.target-div {
    width: 100%;
}
.target-div h3.base--h3 {
    font-size: 1rem;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5a5a5a;
}

.windowShadeContainer {
    margin-top: 0px;
    cursor: pointer;
}

.windowShadeLink {
    text-decoration: underline;
    font-weight: normal;
    line-height: 1.5;
    font-size: 1rem;
}

.windowShadeLink .chevron {
    width: 5%;
    vertical-align: middle;
}

.buttonZone {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

button.bottomButton {
    width: 50%;
    padding: 1rem;
    margin-right: 1rem;
}

.nocf, .maybecf, .greatcf {
    width: 100%;
}

.base-div img {
    max-width: 4rem;
}

button.clear--button {
    opacity: 0;
    width: 50%;
    padding: 0px;
    background-color: transparent;
    color: black;
    font-size: smaller;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.retraining--base-hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.clear--button {
  margin-top: 0.2rem;
}